@keyframes my-animation{
  to{
  box-shadow: rgba(137, 43, 226, 0.409) 0px 1px 3px 1px, blueviolet 0px 1px 2px 0px;

  }
}
body {
  font-family: "Segoe UI", sans-serif;
}

h1,
h2,
p {
  text-align: center;
}

h1 {
  margin-top: 50px;
  margin-bottom: -10px;
  font-size: 45px;
  color: #323333;
}

h2 {
  color: #323333;
  border-radius: 10px;
  box-shadow: blueviolet 0px 1px 2px 0px, rgba(137, 43, 226, 0.409) 0px 1px 3px 1px;
  padding: 10px 20px;
  width: fit-content;
  margin: auto;
  animation: my-animation 2s infinite;
}

footer > p {
  font-size: 13px;
  margin-top: -25px;
}

a {
  color: #6b7280;
}

#table {
  margin: 50px 50px;
}

.table-body {
  color: #323333;
}

.header{
  display: flex;
  justify-content: center;
}